html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dfe1e5;
  font-family: Open sans, sans-serif;
}

header {
  padding: 0rem 2rem;
  padding-top: 1rem;
  padding-bottom: 0rem;
}

header h1 {
  font-size: 2rem;
  font-weight: 600;
  margin: 0;
}
.main {
  padding: 0 2rem;
  padding-top: 1rem;
}

.module-exchange-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  min-height: 32px;
  border: 1px solid #333333;
}

.module-exchange-body {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
  height: 100%;
  width: 100%;
  padding-top: 1rem;
}
