.meh-search-results {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.meh-search-result p {
  margin: 0;
  padding: 0;
}

.meh-search-result {
  background-color: gray;
}

.meh-search-result-active {
  background-color: red;
}