:root {
  --textColor: #232327;
  font-size: 12px;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #dfe1e5;
  font-family: Open sans, sans-serif;
}

body {
  height: calc(100vh - 32px);
}

.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 36px;
  width: 100%;
  background: #333333;
}

.flex-options {
  height: 100%;
  width: 50px;
  display: flex;
  float: right;
  justify-content: space-between;
  margin-right: 16px;
}

.flex-option {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background: pink;
  height: 50%;
  aspect-ratio: 1;
  border-radius: 100px;
}

#close {
  background: #f95355;
  cursor: pointer;
}

#maxi {
  background: #24c138;
  cursor: pointer;
}

.main {
  margin-top: 32px;
  width: 100%;
}

.module {
  width: 100%;
  height: auto;
  min-height: max-content;
  border-bottom: 2px solid gray;
}

.module-title {
  color: var(--textColor);
  font-size: 1rem;
  padding: 1rem 0rem 1rem 1rem;
}

.module-title h1 {
  transition: 0.2s;
  margin: 0;
  cursor: pointer;
  width: fit-content;
}

.module-title h1:hover {
  color: #204e8a;
}

.module-content {
  width: 100%;
  min-height: 36px;
  margin-top: 6px;
}

.module-content input {
  width: 100px;
  float: left;
  margin: 0;
}

#to_replace {
  margin-left: 1rem;
}

#to_replace + p {
  margin: 0;
  float: left;
}

.module-content p {
  padding-left: 1rem;
  padding-right: 1rem;
}

.colour-display {
  display: inline-block;
  border: 2px solid black;
  border-radius: 20px;
}

.colour-display p {
  margin: 0;
  font-size: 14px;
  font-weight: 900;
  -webkit-text-stroke: 1px black;
  -webkit-text-fill-color: white;
}

#detected-colour {
  display: inline-block;
  width: fit-content;
  margin-top: 0;
}
